body{
	background-color:#99CC66;
	margin:0px;
	font-family:"Segoe Script","微軟正黑體";
	text-align:center;
}
.inv{
	display:none
}
.title{
	padding:0px;
	width:100%;
	background-color:#996633;
	font-size:60px;
	font-family:"Segoe Script","微軟正黑體";
	cursor:pointer;
	/*position:fixed;
	top:0px;
	z-index:2*/
}
.htmlname{
	
	font-weight:bold;
	flex:auto;
}
.menu_0{
	color:#4169e1;
	cursor:pointer;
	flex:none;
	width:100px;
	transform:rotate(90deg);
	
}
.menu_1{
	color:#4169e1;
	cursor:pointer;
	flex:none;
	width:100px;
	transform:rotate(90deg);
	/*position: absolute;
	top:10%;
	left:10%*/
	
}
.menu_2{
	color:#4169e1;
	cursor:pointer;
	flex:none;
	width:100px;
	transform:rotate(90deg);
	/*position: absolute;
	top:10%;
	left:10%*/
	
}
.choose{
	font-size:36px;
	list-style-type:none;
	margin:0px;
	padding-inline-start:0px;
	display: none
}
.choose2{
	font-size:28px;
	list-style-type:none;
	margin:0px;
	padding-inline-start:0px;
	display: none
}
.choose3{
	font-size:20px;
	list-style-type:none;
	margin:0px;
	padding-inline-start:0px;
	display: none
}
.content{
	width:100%;
	background:#CCFFFF;
	padding-top:30px;
	margin-top:10%;
	padding-bottom:38px;
	font-size:40px;
}
.text{
	width:98%;
	background:#FFCCCC;
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	padding-top:30px; 
	padding-bottom:30px;
	font-size:24px;
}
li{
	border-top:2px black solid;
}
a{
	text-decoration:none;
	color:black
}
IFRAME{
	border-width: 0px;
	width:100%;
	height:100px
}